:root {
  --bg-primary: #06142e;
  --bg-secondary: #473e66;
  --bg-tertiary: #1b3358;
  --txt-color: #eee;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--bg-primary);
  color: var(--txt-color);
}
